<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- 
		Par defaut le premier fichier qui est configuré est le fichier web.xml, il est le point d'entrée de l'application 
		Dans le fichier web.xml on déclare le ContextLoaderListener, permettant de faire l'injection de dependance
		
		Le ContextLoaderListener par defaut va aller chercher le fichier de configuration root-context.xml
		Ce fichier contient les injections de dependances, c'est à dire lest objets (les beans Spring) de notre application
	 -->

	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/root-context.xml</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Pour la partie Spring MVC on déclare le DispatcherServlet qui fonctionne comme un contrôleur Frontal, 
	     Il traite les requêtes en entrée, et l'envoie ensuite vers le bon contrôleur. 
	     Le DispatcherServlet a lui aussi besoin d'un fichier de configuration qui se nomme servlet-context.xml
	-->
	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
		
		<!-- 
		Tous les URL vont passer par appServlet qui est une instane de la servlet (DispatcherServlet)
	 -->
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

</web-app>
